body {
  background-color: green;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  width: 200px;
  height: 300px;
  border: 2px, solid;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  background-color: #f8f3f3;
  justify-content: space-between;
  padding: 10px;
}

.value1 {
  font-size: 50px;
}

.value2 {
  text-align: center;
  font-size: 50px;
}

.value3 {
  font-size: 50px;
  text-align: end;
}

.boton {
  margin: 5px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #481d5f, rgb(197, 170, 96));
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.boton:hover {
  color: white;
}
